*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: blue;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1{
    padding: 10px;
}

.container{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}